---
layout: archive
title: "Research Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>I have successfully attracted funding of approximately £2.5 million as the Principal Investigator at Loughborough University, contributing to a total funding profile exceeding £5 million in various capacities. 
Our research is supported by a diverse range of funders inlcuding UKRI, other government agencies and industry, allowing us to conduct research in multiple disciplinary areas and collaborate with partners from sectors such as aerospace, automotive, agriculture and defence. </p>

<h2> Funded research projects </h2>
{% for post in site.projects reversed %}
  {% include archive-single-projects.html %}
{% endfor %}
